@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss';
@import './custom-styles.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', sans-serif;
}

@layer base {
    *{
        font-family: var(--font-sans) !important;
    }
    #home-page section, #home-pagediv {
        padding: 20px;
    }
    a, button {
        @apply cursor-pointer ;
    }
    
}
